In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# pd.set_option('max_colwidth', 800)  # displays complete text
pd.set_option('float_format', '{:.2f}'.format) # displays float with 2 decimal spaces

# Read the excel sheet using pandas
bidsData = pd.read_csv('Dataset/cleaned_bids.csv')

# display the 1st 2 rows
bidsData.head(2)

,proj_ID,seq_no,time,estimate,let_date,length,winner,win_amt,num_bids,bid_spread,compiled_bids,county,month
0,NH 1602(247),3001,1000,85290427.93,12/1/2016,0.39,WILLIAMS BROTHERS CONSTRUCTION CO. INC.,73929401.69,7,13677444.11,"PULICE CONSTRUCTION INC. | $83,702,317.31; THE...",BEXAR,12
1,NH 2017(364),3005,70,9271227.00,12/1/2016,245.98,LIPHAM ASPHALT AND PAVING COMPANY LLC,8458527.23,4,980483.12,"NORTHEASTERN PAVERS INC. | $8,685,268.42; MISS...",CALLAHAN,12

In [18]:
bidsData['num_bids'].unique()

array([ 7,  4,  3,  2, 11,  8,  6,  5,  9, 10,  1, 14, 12, 16, 13, 18])

In [21]:
# bidsData.groupby(['num_bids'])